/* ================================================= Manrope ================================================= */
@font-face {
    font-family: 'Manrope';
    src: url(Manrope-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Manrope';
    src: url(Manrope-Medium.ttf);
    font-weight: 500;
}